@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/* Ниже идёт заготовка для сброса стилей которую я взял из статьи в интернете */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Конец заготовки, ниже мой код  */


body {
  background-color: Linen;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

header {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  color: linen;
}

header a{
  color: linen;
  float: left;
  display: block;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  height: 100%;
  transition: background-color 0.5s;
}

header a:visited {
  color: linen;
}
header a:hover {
  color: black;
  background-color: NavajoWhite;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  
  
}
h1 {
  margin-top: 12vh;
  margin-bottom: 2.5%;
  text-align: center;
  
}
h2 {
  text-align: center;
  padding-bottom: 4vh;
}
p {
  text-align: center;
}

ul {
  display: block;
  text-align: center;
}
li {
  list-style-type: none;
} 
section {
  margin-top: 2.5%;
  width: 100vw;
  padding-bottom: 5vh;
  padding-top: 4vh;
}
 .s4, .s6 {
background-color: navajowhite;
}

.s5 {
  margin-bottom: -3vh;
}

.s1, .s2, .s3 {
  align-self: flex-start;
  padding-bottom: 2.5vh;
} 

.about { 
  text-align: left;
  margin-bottom: 1vh;
}

.edu {
  text-align: left;
}

.exp {
  text-align: left;
}

.textside { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  


}

.screenshot {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  transition: 1s;
}

.screenshot > img:hover {
width: 50vw;
height: 50vh;
transition: 1s;

}

footer {
  background-color: black;
  color: linen;
  display: block;
  text-align: center;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4vw;

}

.headcontacts {
  padding-bottom: 4vh;
}

footer a:visited {
  color: linen;
}

.myphoto {
  display: block;
  margin: auto;
  border-width:  3px ;
  border-style: groove;
  border-color: black navajowhite;
  transition: width 1s, height 1s; border-width: 1s;
}

.myphoto:hover {
  border-style: groove;
  border-color: black navajowhite;
  border-width: 3px;
  width: 500px;
  height: 600px;
}

.photosection {
  padding-bottom: 4.5vh;
}

.anchor {
  margin-top: -100%;
  display: inline-block;
  position: relative;
  height: 1px;
  width: 1px;
}

.vk {
  background-color: black;
  color: linen;
}

.vk:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
  cursor: pointer;
}

.inst {
  background-color: black;
  color: linen;
}

.inst:hover {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: whitesmoke;
  cursor: pointer;
}



